.card {
  flex: 1;
  text-align: center;
  height: 100vh;
  transition: flex 250ms ease-in-out;
}

.card:hover {
  flex: 2;
}

.liam {
  background-image: url("https://imgs.callofduty.com/content/dam/atvi/callofduty/cod-touchui/warzone/strategy-guide/articles/2021/chapter-2/02d-operators/02D-Operators-001-E.jpg");
}

.justin {
  background-color: aqua;
}

.luke {
  background-color: blanchedalmond;
}

.louis {
  background-color: brown;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
