.mainCard {
  flex: 1;
  text-align: center;
  vertical-align: center;
}

.box {
  display: flex;
  flex-direction: row;
}
.liam {
  background-color: blueviolet;
}

.justin {
  background-color: aquamarine;
}

.luke {
  background-color: chartreuse;
}

.louis {
  background-color: fuchsia;
}
